LOCALSTACK_AUTH_TOKEN=
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
HYDRA_CLIENT_ID=pci-checkout-exchange
HYDRA_CLIENT_SECRET=dev-pci-checkout-hydra-secret-please-change-32bytes
